body {
	background: url('../img/bg.png');
	background-size: cover;
}

header {
	background: url('../img/bg_head.png') no-repeat center top;
	background-size: cover;
	text-align: center;
	background-color: white;
	height: auto;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	margin-bottom: 20px;
}
/*/ autre /*/

.pointer {
	cursor: pointer;
}

.gauche {
	float: left;
}

.droite {
	float: right;
	text-align: right;
}

/*/ Menu */

.menu {
	height: auto;
	margin-bottom: 20px;
}

.menu ul li {
	display: inline;
	list-style: none;
}

/*/ CADRE GENERAL /*/

.general {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
	height: 908.53px;
}

.general label  {
	background-color: #9E9E9E;
	width: 100%; 
	padding: 5px;
	text-align: center;
}

.general h2 {
	border-bottom: 5px double black;
	text-align: center;
	margin-bottom: 20px;
}

.general h5 {
	font-weight: bold;
}

.general ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.general ul {
	padding-left:0px;
}

.recherche ul li {
	list-style: none;
	margin-right: 10px;
}

.input_search {
	background:url('../img/inputtext.png');
	height:35px;
	margin-bottom: 5px;
	outline: none;
}

.input_button {
	width:56px; 
	height:35px;
	border: none;
	cursor: pointer;
	outline: none;
}

.film_genre {
	height: 200px; 
	overflow: scroll;
	overflow-x: hidden;
	margin-top: 15px;
}

.titre {
	text-align: center;
}

.affiche_link table {
	margin-top: 5px;
	margin-bottom: 20px;
}

.border_affiche {
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: 2px solid lightgrey;	
	
}

/*/ FOOTER /*/

footer {
	margin-top: 30px;
	margin-bottom: 20px;
	background: url('../img/Footer_bg.png') no-repeat right;
	height: 228px;
}

.footer1 {
	margin-top: 0px;
	margin-left: -13px;
	background: url('../img/Footer_bg02.png') no-repeat;
	height: 228px;
}

/*/ LECTEUR /*/
.login_register {
	margin-bottom: 20px;
	text-align: center;
	border: 1px solid black;
}

.general_lecteur {
	height: auto;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.presentation_film {
	word-wrap: break-word;
	height: 280px;
	border-bottom: 1px solid black;
}

.lecteur {
	margin-top: 20px;
	margin-bottom: 10px;
}

.commentaire {
	overflow: scroll;
	overflow-x: hidden;
	height: 400px;
}

.post_commentaire textarea {
	resize: none;
	height: 250px;
	outline: none;
}

.auteur {
	font-weight: bold;
}

.date_heure {
	font-weight: bold;
}

.commentaire_message {
	background-color: #EFEFEF;
	border: 1px solid black;
	padding: 15px;
	margin-bottom: 10px;
}

/*/ LOGIN REGISTE /*/

.login_register_page {
	height: auto;
	padding: 25px;
	background-color: white;
}

.login {
	text-align: center;
}

.register {
	text-align: center;
}